<div class="listado-noticias">

    <div class="principal">
        <mat-card>
            <mat-card-header>
                <mat-card-title>El Gobierno pidió a la Justicia de Estados Unidos suspender el fallo sobre YPF</mat-card-title>
            </mat-card-header>

            <img mat-card-image src="https://picsum.photos/200/100" alt="">

            <mat-card-subtitle>Fue a través de una carta enviada a la magistrada federal de Nueva York, Loretta Preska. En los próximos días, hará una apelación formal. Fuentes de la Rosada adelantaron que no negociarán con los fondos buitre.</mat-card-subtitle>

        </mat-card>
    </div>

    <!-- <div class="secundarias">
        <app-noticia-tarjeta></app-noticia-tarjeta>
    </div> -->


</div>


