<div class="listado-noticias-container">
    <div class="listado-noticias">
    
        <div class="principal">

            <div class="noticia-principal" (click)="verDetalle(principal?._id)">
                <h1 class="titulo"> {{principal?.titulo}} </h1>

                <span><img src="{{principal?.imagenUrl}}" alt="" class="principal-imagen"></span>
                <p> {{principal?.subtitulo}} </p>

            </div>
            
        </div>
    
        <div class="secundarias">
            <div *ngFor="let item of secundarias" class="noticia-tarjeta-secundaria">
                <app-noticia-tarjeta [noticia]="item" (clickTarjeta)="verDetalle($event)"></app-noticia-tarjeta>
            </div>
        </div>
    
    
    </div>

    <hr>
    
    <div class="resto-noticias">
        <div *ngFor="let item of restoNoticias" class="resto-noticias-item">
            <app-noticia-tarjeta [noticia]="item" (clickTarjeta)="verDetalle($event)"></app-noticia-tarjeta>
        </div>
    </div>

</div>


