.listado-noticias-container {
    margin: 20px;
}

.listado-noticias {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.principal{
    width: 60%;
    margin-left: 26px;
}

.titulo{
    font-size: 2.4rem;
    font-weight: 600;
    font-family: 'Merriweather', serif;
    line-height: 36px;
}

.principal-imagen {
    width: 100%;
    //height: 200px;
    object-fit: cover;
}

.secundarias{
    width: 25%;
}

.noticia-tarjeta-secundaria {
    margin-bottom: 15px;
}

.resto-noticias {
    width: 100%;
    margin: 20px 15px;
    display: flex;
    flex-wrap: wrap;
}

.resto-noticias-item {
    width: 25%;
    margin: 10px;
}

hr{
    border: 1px solid #e5e5e5;
}