<div class="listado-noticias-container">
    <div class="listado-noticias">
    
        <div class="principal">
            <mat-card>
                <mat-card-header>
                    <mat-card-title> {{ principal?.titulo || ' ' }} </mat-card-title>
                </mat-card-header>
    
                <img mat-card-image [src]="principal?.imagenUrl" alt="">
    
                <mat-card-subtitle>{{ principal?.subtitulo || ' ' }}</mat-card-subtitle>
    
            </mat-card>
            
        </div>
    
        <div class="secundarias">
            <div *ngFor="let item of secundarias" class="noticia-tarjeta-secundaria">
                <app-noticia-tarjeta [noticia]="item"></app-noticia-tarjeta>
            </div>
        </div>
    
        <mat-divider></mat-divider>
    
    </div>
    
    <div class="resto-noticias">
        <div *ngFor="let item of restoNoticias" class="resto-noticias-item">
            <app-noticia-tarjeta [noticia]="item"></app-noticia-tarjeta>
        </div>
    </div>

</div>


