
.categoria-noticia-container{
    margin: 20px;
}

.titulo{
    text-align: center;
}

.categoria-noticias{
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-between;
    // align-items: center;
}

.categoria-tarjeta{
    max-width: 25%;
}