*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html, body 
{
    height: 100%; 
    width: 100%;
}

body 
{ 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color: antiquewhite;
    overflow-x: hidden;
}


.spacer {
    flex: 1 1 auto;
}

.categoria-txt {
    //font-size: 0.8em;
    color: rgb(219, 9, 9);
}
